@model TeamListViewModel

<form>
    <input type="datetime-local" value="@DateTimeOffset.Now.ToString("yyyy-MM-ddThh:mm")" />
</form>
<div style="display:flex;flex-wrap:wrap;">
    @foreach (var team in Model.Teams)
    {
        <div data-team-id="@team.TeamId">
            @foreach (var student in team.StudentList)
            {
                <p>@student.Name</p>
            }
        </div>
    }
</div>
<form asp-route="TeamListPost">
    <select name="activityId">
        <optgroup label="Tipo de Actividad">
            @foreach (var activity in Model.Activities)
            {
                <option value="@activity.ActivityId">@activity.Name</option>
            }
        </optgroup>
    </select>
    <button type="submit">Agregar Actividad</button>
    <button type="reset">Cancelar</button>
</form>

<form asp-route="TeamDetailsPost">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Asistencia</th>
                @foreach (var activityAssiged in Model.ActivitiesAssigned)
                {
                    <th>@activityAssiged.Activity.Name</th>
                }
            </tr>
        </thead>
        @foreach (var student in Model.Teams.SelectMany(t => t.StudentList))
        {
            <tbody data-student-team-id="@student.TeamId">
                <tr>
                    <td>@student.Name</td>
                </tr>
                <tr>
                    <td>
                        @{
                            var studentClassDayForCurrentStudent = Model.StudentClassDayList.Where(scd => scd.StudentId == student.StudentId).FirstOrDefault();
                        }
                        <label for="student-@student.StudentId-assistence">Asistencia</label>
                        <input id="student-@student.StudentId-assistence" name="" type="checkbox" @(studentClassDayForCurrentStudent?.Assistance == true ? "checked" : "") />
                        <input type="hidden" value="@studentClassDayForCurrentStudent?.StudentClassDayId" />
                    </td>
                </tr>
                @foreach (var activityAssigned in Model.ActivitiesAssigned.Where(aa => aa.StudentId == student.StudentId))
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@activityAssigned.ActivityAssignmentId" name="activityAssignmentId" />
                            @if (activityAssigned.Activity.Type == ActivityType.Grade)
                            {
                                <input type="number" min="0" max="10" step="0.1" value="@activityAssigned.Grade" />
                            }
                            else
                            {
                                <input type="checkbox" value="@activityAssigned.Completed" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>
</form>
<vc:notes-sidebar group-id="@Model.GroupId" ></vc:notes-sidebar>
