@model TeamListViewModel

<form>
    <input type="datetime-local" value="@DateTimeOffset.Now.ToString("yyyy-MM-ddThh:mm")" />
</form>
<div style="display:flex;flex-wrap:wrap;">
    @foreach (var team in Model.Teams)
    {
        <div data-team-id="@team.TeamId">
            @foreach (var student in team.StudentList)
            {
                <p>@student.Name</p>
            }
        </div>
    }
</div>
<form asp-route="TeamListPost">
    <select name="activityId">
        <optgroup label="Tipo de Actividad">
            @foreach (var activity in Model.Activities)
            {
                <option value="@activity.ActivityId">@activity.Name</option>
            }
        </optgroup>
    </select>
    <button type="submit">Agregar Actividad</button>
    <button type="reset">Cancelar</button>
</form>

<table data-activities-assigned="@Model.ActivitiesAssignedToJson()">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Asistencia</th>
            @* Dynamic group assignments *@
        </tr>
    </thead>
    <tbody>
        @* Dynamic student list depending on team selected *@
    </tbody>
</table>
<vc:notes-sidebar group-id="@Model.GroupId" ></vc:notes-sidebar>
