@model IEnumerable<StudentFinalGrade>

<h1>Calificacion Final</h1>

<select>
    <optgroup label="Periodos"></optgroup>
    <option>periodo 1</option>
    <option>periodo 2</option>
</select>

<select>
    <optgroup label="Grupos"></optgroup>
    <option>Grupo 1</option>
    <option>Grupo 2</option>
</select>

<form asp-action="FinalGrades">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Assistencias</th>
                <th>Actividades</th>
                <th>Califición Final</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var studentFinalGrade in Model)
            {
                <tr data-student-id="@studentFinalGrade.StudentId">
                    <td>@studentFinalGrade.Student.Name</td>
                    <td>@studentFinalGrade.AssistanceSummary</td>
                    <td>@studentFinalGrade.ActivitiesSummary</td>
                    <td>
                        <input type="number" min="1" max="10" value="@studentFinalGrade.FinalGrade.ToString("F2")"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Guardar</button>
</form>


