@model FinalGradesViewModel

<h1>Calificacion Final</h1>

<form asp-action="FinalGrades" method="get">
    <select name="periodId">
        <optgroup label="Periodos"></optgroup>
        <option value="1">periodo 1</option>
        <option value="2">periodo 2</option>
    </select>

    <select name="groupId">
        <optgroup label="Grupos"></optgroup>
        <option value="1">Grupo 1</option>
        <option value="2">Grupo 2</option>
    </select>
    <button type="submit">Filtrar</button>
</form>

<form asp-action="FinalGrades">
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Assistencias</th>
                <th>Actividades</th>
                <th>Califición Final</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.StudentFinalGrades.Length; i++)
            {
                <tr>
                    <td>@Model.StudentFinalGrades[i].Student.Name</td>
                    <td>@Model.StudentFinalGrades[i].AssistanceSummary</td>
                    <td>@Model.StudentFinalGrades[i].ActivitiesSummary</td>
                    <td>
                        <input type="number" min="1" max="10" value="@Model.StudentFinalGrades[i].FinalGrade.ToString("F2")" name="studentFinalGrades[@i].finalGrade" />
                        <input type="hidden" value="@Model.StudentFinalGrades[i].StudentId" name="studentFinalGrades[@i].studentId" />
                        <input type="hidden" value="@Model.PeriodId" name="studentFinalGrades[@i].periodId" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit">Guardar</button>
</form>


