@model ClassRoomManager.Models.ListViewModel

@{
    ViewData["Title"] = "List";
}


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.Students.First().ListNumber)</th>
            <th>@Html.DisplayNameFor(model => model.Students.First().Name)</th>
            <th>Calificación</th>
            <th>Asistencia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <th><button type="button">Detalles</button></th>
                <td>@Html.DisplayFor(modelItem => student.ListNumber)</td>
                <td>@Html.DisplayFor(modelItem => student.Name)</td>
                <td><input type="number" min="0" max="10" step="1" /></td>
                <td><input type="checkbox" /></td>
            </tr>
        }
    </tbody>
</table>
<button id="new-team" type="button">Crear Equipo</button>

<form id="new-team-form" style="display:none;"  asp-route-groupId="@Model.GroupId">
    <label>Nombre:</label>
    <input id="Name" name="Name" type="text" />
    <label>Color:</label>
    <input id="Color" name="Color" type="color" />
    <select name="StudentIdList" multiple>
        @foreach (var student in Model.Students)
        {
            <option value="@student.StudentId">@student.Name</option>
        }
    </select>
    <button type="submit">Aceptar</button>
    <button type="reset">Cancelar</button>
</form>


@foreach (var team in Model.Teams)
{
    <vc:team-details team-id="@team.TeamId"></vc:team-details>
}

<vc:notes-sidebar group-id="@Model.GroupId"></vc:notes-sidebar>
<a asp-route="Home">Inicio</a>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("new-team").addEventListener("click", () => {
                document.getElementById("new-team-form").style.display = "block";
            });
        });
    </script>



