@model IEnumerable<ClassRoomManager.Models.Group>

@{
    ViewData["Title"] = "Home";
}

<h1>Grupos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupId)
            </td>
            <td>
                <a asp-route="Notes" asp-route-groupid="@item.GroupId">Notas</a>
                <a asp-route="GroupList" asp-route-groupid="@item.GroupId">Grupo(Lista)</a>
            </td>
        </tr>
}
    </tbody>
</table>
