@model NotesViewModel

@{
    ViewData["Title"] = "Notes";
}

<h1>Notas</h1>

<a asp-route="CreateNoteForm" asp-route-groupId="@Model.GroupId">Crear nota</a>

<table class="table">
    <thead>
        <tr>
            <th>
                CreationDate
            </th>
            <th>
                ModifiedDate
            </th>
            <th>
                Description
            </th>
            <th>
                Nombre
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedTo.Name)
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index">Back to Groups</a>