@model ClassRoomManager.Models.Team

<button type="button">@Model.Name</button>
<div>
    <h4>Equipo @Model.Name</h4>
    <hr />
    @Html.DisplayNameFor(model => model.Color)
    @Html.DisplayFor(model => model.Color)

    @Html.DisplayNameFor(model => model.TeamId)
    @Html.DisplayFor(model => model.TeamId)

    @Html.DisplayNameFor(model => model.GroupId)
    @Html.DisplayFor(model => model.GroupId)
    <ul>
        @foreach (var studentId in Model.StudentIdList)
        {
            <li>@studentId</li>
        }
    </ul>
</div>
