@model ClassRoomManager.Models.Team

<button type="button">@Model.Name</button>
<div>
    <h4>Equipo @Model.Name</h4>
    <hr />
    @Html.DisplayNameFor(model => model.Color)
    @Html.DisplayFor(model => model.Color)

    @*@Html.DisplayNameFor(model => model.GroupId)
    @Html.DisplayFor(model => model.GroupId)*@
    <ul>
        @foreach (var student in Model.StudentList)
        {
            <li>@student.Name</li>
        }
    </ul>
    <label for="team-assistance">Asistencia</label>
    <input type="checkbox" id="team-assistance" />
    <label for="team-grades"></label>
    <input type="number" id="team-grades" min="0" max="10" />
    <button type="button">Asignar Calif</button>

</div>
